@{
    ViewData["Title"] = "Алгоритми для графів";
}

<div class="text-left">
    <ul>
        <li>
            <a asp-controller="Problem" asp-action="Dijkstra">Алгоритм Дейкстри</a>
        </li>
        <li>
            <a asp-controller="Problem" asp-action="Floyd">Алгоритм Флойда-Воршалла</a>
        </li>
        <li>
            <a asp-controller="Problem" asp-action="Prim">Алгоритм Прима</a>
        </li>
    </ul>
</div>
