@{
    ViewData["Title"] = "Алгоритм Флойда-Воршалла";
    ViewData["SolveAction"] = "SolveFloyd";
    ViewData["SolveManualAction"] = "SolveFloydManual";
    ViewData["RequiresSourceVertex"] = false;
}

<div class="algorithm-page">
    <h1 class="algorithm-title">Алгоритм Флойда-Воршалла</h1>
    @await Html.PartialAsync("_AlgorithmInputForm")
</div>

<script src="~/js/floyd.js"></script>