@{
    ViewData["Title"] = "Алгоритм Флойда-Воршалла";
    ViewData["SolveAction"] = "SolveFloyd";
    ViewData["SolveManualAction"] = "SolveFloydManual";
    ViewData["RequiresSourceVertex"] = false;
}

<div class="algorithm-page">
    <h1 class="algorithm-title">Алгоритм Флойда-Воршалла</h1>
    <div class="algorithm-description">
        <ul>
            <li>Алгоритм Флойда-Воршалла - це алгоритм пошуку найкоротших шляхів між усіма парами вершин зваженого графа.</li>
            <li>Алгоритм працює для орієнтованих та неорієнтованих графів, а вага ребер та дуг повинна бути невід'ємною.</li>
            <li>Для використання алгоритму, оберіть спосіб задання матриці ваг (у випадку відсутності ребра чи дуги залишіть клітину порожньою) та натисніть на кнопку нижче.</li>
            <li>Максимальний допустимий розмір матриці — 100х100. Максимальна вага кожного ребра чи дуги — 1 мільйон.</li>
            <li>Результат буде поданий у вигляді оновленої матриці ваг, де вагу кожної дуги замінить вага найкоротшого шляху між вершинами.</li>
            <li>Зверніть увагу, що, оскільки граф може бути орієнтованим, найкоротші шляхи позначені від вершин зліва до вершину зверху від таблиці.</li>
        </ul>
    </div>
    <div class="algorithm-input-section">
        @await Html.PartialAsync("_AlgorithmInputForm")
    </div>
</div>

<script src="~/js/shared.js"></script>
<script src="~/js/floyd.js"></script>