@{
    ViewData["Title"] = "Алгоритм Прима";
    ViewData["SolveAction"] = "SolvePrim";
    ViewData["SolveManualAction"] = "SolvePrimManual";
    ViewData["RequiresSourceVertex"] = true;
}

<div class="algorithm-page">
    <h1 class="algorithm-title">Алгоритм Прима</h1>
    <div class="algorithm-description">
        <ul>
            <li>Алгоритм Прима - це алгоритм побудови мінімального каркаса зваженого графа.</li>
            <li>Алгоритм працює лише для зв'язних неорієнтованих графів, тому всі вершини повинні мати хоча б 1 ребро, матриця суміжності графа повинна бути симетричною, а вага ребер — невід'ємною. При введенні матриці вручну, симетричні значення вводяться автоматично.</li>
            <li>Для використання алгоритму, оберіть спосіб задання матриці суміжності (у випадку відсутності ребра залишіть клітину порожньою), введіть початкову вершину, від якої розпочнеться побудова каркаса, та натисніть на кнопку нижче.</li>
            <li>Максимальний допустимий розмір матриці — 100х100. Максимальна вага кожного ребра — 1 мільйон.</li>
            <li>Результат буде поданий у вигляді матриці суміжності, в якій ребра, що входять до мінімального каркаса, будуть виділені червоним кольором, а також у вигляді таблиці (Початкова вершина | Кінцева вершина | Вага).</li>
        </ul>
    </div>
    <div class="algorithm-input-section">
        @await Html.PartialAsync("_AlgorithmInputForm")
    </div>
</div>

<script src="~/js/shared.js"></script>
<script src="~/js/prim.js"></script>