@{
    ViewData["Title"] = "Алгоритм Прима";
    ViewData["SolveAction"] = "SolvePrim";
    ViewData["SolveManualAction"] = "SolvePrimManual";
    ViewData["RequiresSourceVertex"] = true;
}

<div class="algorithm-page">
    <h1 class="algorithm-title">Алгоритм Прима</h1>
    @await Html.PartialAsync("_AlgorithmInputForm")
</div>

<script src="~/js/prim.js"></script>